<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <blockquote>
    I love it!!!

  </blockquote>
  <cite>{{name}}</cite>

</div>
<app-testcomptodelete></app-testcomptodelete>
<h2>SME</h2>


<hr>
<a routerLink="companies">Companies</a> &nbsp;
<a routerLink="todo">Task Manager</a> &nbsp;
<a routerLink="directive">In Built Directive</a> &nbsp;
<a routerLink="inbuiltpipe">In Built Pipe</a> &nbsp;
<a routerLink="templateform">Template Form</a> &nbsp;
<a routerLink="modelform">Model Form</a> &nbsp;
<a routerLink="consumeService1">Service 1</a> &nbsp;
<a routerLink="consumeService2">Service 2</a> &nbsp;
<a routerLink="consumeRemoteService">Consume Remote Service</a> &nbsp;
<a routerLink="EmployeeList">Employee List</a> &nbsp;
<a routerLink="EmployeeDetails">Employee Details</a> &nbsp;
<a routerLink="Animate">Animate Text</a> &nbsp;
<a routerLink="inputoutput">Input Output</a> &nbsp;

<router-outlet></router-outlet>
